[submodule "nugget"]
	path = nugget
	url = https://github.com/pcsx-redux/nugget
[submodule "decomp/tools/maspsx"]
	path = decomp/tools/maspsx
	url = git@github.com:mkst/maspsx.git
[submodule "decomp/tools/asm-differ"]
	path = decomp/tools/asm-differ
	url = git@github.com:simonlindholm/asm-differ.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
